* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  margin: 0;
  font-family: "Poly", Georgia, serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #2f2f2f;
}

main {
  max-width: 38rem;
  margin: 6%;
}

main :first-child {
  margin-top: 0;
}

main :last-child {
  margin-bottom: 0;
}

footer {
  margin-top: 2rem;
}

img {
  display: block;
  width: 6rem;
  height: 6rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li:not(:last-child)::after {
  content: "  /  ";
  white-space: pre;
}

a {
  background-color: #ffffcc;
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  text-decoration: underline;
}

.nobr {
  white-space: nowrap;
}

.bigger {
  font-size: 1.6rem;
  line-height: 1.4;
}

@media (min-width: 30em) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 35em) {
  html {
    font-size: 100%;
  }

  main {
    margin: 6% 10%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #1a1a1a;
  }

  a {
    background-color: #4c4d33;
  }
}
